@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  max-width: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Microsoft JhengHei;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 42px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 11px;
  }
}

/*header*/
.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  /**/
}

.header .container {
  background: rgba(0, 0, 0, 0.75);
  padding: 16px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header .container {
    padding: 16px 11px;
  }
}

.header .container .logo h1 a {
  background: url("../img/assets/logo_w(null).svg") no-repeat;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  height: 24px;
}

.header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 560px) {
  .header .container .menu {
    max-height: 0;
    overflow: hidden;
    /*隱藏選單*/
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    /*動畫效果*/
    position: absolute;
    z-index: 1000;
    /*懸浮*/
    top: 56px;
    left: 0;
    right: 0;
    /*左右滿版 + 下移對齊標題*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
  }
}

.header .container .menu a {
  color: #fff;
  display: block;
  padding: 5px 15px;
}

.header .container .menu a:hover {
  color: goldenrod;
  font-weight: bolder;
}

@media (max-width: 560px) {
  .header .container .menu a {
    padding: 12px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.header .container .showmenu {
  display: none;
  font-size: 24px;
}

@media (max-width: 560px) {
  .header .container .showmenu {
    color: #fff;
    display: block;
  }
}

@media (max-width: 560px) {
  .header .container .menu-active {
    max-height: 500px;
  }
}

/*banner*/
.banner .container {
  background: url(../img/assets/header_desktop.png) no-repeat center;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 560px) {
  .banner .container {
    background: url(../img/assets/header_mobile.png) no-repeat center;
  }
}

.banner .container .banner-text {
  width: 460px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 22px 20px;
  line-height: 1.3;
}

.banner .container .banner-text h2 {
  font-size: 36px;
  margin-bottom: 16px;
}

@media (max-width: 560px) {
  .banner .container .banner-text h2 {
    text-align: center;
  }
}

.banner .container .banner-text h2 .br {
  display: none;
}

@media (max-width: 560px) {
  .banner .container .banner-text h2 .br {
    display: inline;
  }
}

.banner .container .banner-text p {
  text-align: center;
}

/*footer*/
.footer .container {
  background: #EFE9E7;
  padding: 50px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 580;
  line-height: 1.4;
  color: #3D1101;
}

@media (max-width: 768px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 11px;
  }
}

.footer .container h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.footer .container > div {
  max-width: 32%;
  min-width: 32%;
}

@media (max-width: 768px) {
  .footer .container > div {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 30px;
  }
}

.footer .container .contact > ul {
  list-style: disc inside;
  padding: 0px;
}

.footer .container .contact > ul li span {
  position: relative;
  left: -12px;
}

.footer .container .contact a {
  color: #3D1101;
}

.footer .container .contact a:hover {
  color: #a52d01;
  font-weight: 900;
}

.footer .container .connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .container .connect .logo a {
  background: url("../img/assets/logo_l@svg.svg") no-repeat;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 245px;
  height: 50px;
}

.footer .container .connect .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .connect .social li a {
  font-size: 36px;
  margin-left: 12px;
  line-height: 36px;
}

.footer .container .connect .social li a:hover {
  font-size: 60px;
}

.footer .container .connect .social li .g_logo {
  color: #DB4437;
}

.footer .container .connect .social li .tw_logo {
  color: #41ABE1;
}

.footer .container .connect .social li .fb_logo {
  color: #3A5795;
}

/*index secret*/
/*h2 slogan*/
.secret .container {
  color: #3D1101;
  background: #EFE9E7;
}

.secret .container h2 {
  margin: 0 auto;
  padding: 50px 0 31px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.secret .container h2:before, .secret .container h2:after {
  content: "";
  display: inline-block;
  width: 15%;
  margin: 0 .5em 0 -70%;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.secret .container h2:after {
  margin: 0 -70% 0 .5em;
}

.secret .container h2 span {
  display: inline-block;
  vertical-align: middle;
}

.secret .container .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 560px) {
  .secret .container .feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.secret .container .feature li {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 560px) {
  .secret .container .feature li {
    width: 100%;
  }
}

.secret .container .feature li img {
  border-radius: 50%;
}

.secret .container .feature li h3 {
  font-size: 18px;
  padding: 20px 0 11px;
}

.secret .container .feature li p {
  font-size: 16px;
  padding: 0 5px 50px;
  line-height: 1.3;
}

@media (max-width: 560px) {
  .secret .container .feature li p {
    padding: 0 19px 50px;
  }
}

/*chef*/
.chef .container {
  background: #3D1101;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 560px) {
  .chef .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}

.chef .container .chef-img {
  background: url(../img/assets/main_chef_brown.png) no-repeat right;
  width: 50%;
  height: 460px;
}

@media (max-width: 768px) {
  .chef .container .chef-img {
    width: 30%;
    background-position: center;
  }
}

@media (max-width: 560px) {
  .chef .container .chef-img {
    width: 100%;
    background-position: center;
  }
}

.chef .container .intro {
  width: 50%;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto 0;
}

@media (max-width: 768px) {
  .chef .container .intro {
    width: 70%;
  }
}

@media (max-width: 560px) {
  .chef .container .intro {
    width: 100%;
    padding: 30px;
  }
}

.chef .container .intro h3 {
  font-size: 20px;
  line-height: 32px;
}

.chef .container .intro p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.4;
  color: #EFE9E7;
}

/*evaluate*/
.evaluate .container {
  color: #3D1101;
  background: #EFE9E7;
}

.evaluate .container h3 {
  font-size: 24px;
  text-align: center;
  padding: 50px 0 32px;
}

.evaluate .container h4 {
  font-size: 18px;
  padding: 21px 0;
}

.evaluate .container p, .evaluate .container h5 {
  font-size: 16px;
}

.evaluate .container h5 {
  text-align: right;
  margin-top: 16px;
}

.evaluate .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .evaluate .container ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.evaluate .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 31%;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .evaluate .container ul li {
    width: 100%;
  }
}

.evaluate .container ul li img {
  border-radius: 50%;
  margin-right: 13px;
}

.evaluate .container ul li .comment {
  line-height: 24px;
}

/*map*/
.map .container {
  background: rgba(250, 250, 250, 0.7);
  color: #3D1101;
}

.map .container h3 {
  font-size: 24px;
  text-align: center;
  padding: 50px 0 38px;
}

.map .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

@media (max-width: 560px) {
  .map .container .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.map .container .content .map-img {
  background: url(../img/assets/Map.png) no-repeat left;
  width: 49%;
}

@media (max-width: 560px) {
  .map .container .content .map-img {
    width: 100%;
    height: 386px;
    margin-bottom: 30px;
  }
}

.map .container .content .booking-form {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

@media (max-width: 560px) {
  .map .container .content .booking-form {
    width: 100%;
  }
}

.map .container .content .booking-form label {
  padding-bottom: 9px;
  font-size: 14px;
}

.map .container .content .booking-form > input {
  margin-bottom: 15px;
  height: 32px;
  border: #cccccc solid 1px;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px;
  color: #4A4A4A;
}

.map .container .content .booking-form .ckbox {
  margin-bottom: 30px;
}

.map .container .content .booking-form .ckbox input {
  margin: 0 36px 0 0;
}

.map .container .content .booking-form .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.map .container .content .booking-form .button button {
  width: 70px;
  height: 32px;
  line-height: 20px;
  border: transparent solid 1px;
}

.map .container .content .booking-form .button .cancel {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 11px;
}

.map .container .content .booking-form .button .cancel:hover {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.35);
  font-weight: bolder;
  cursor: pointer;
}

.map .container .content .booking-form .button .send {
  background: #F56C23;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
}

.map .container .content .booking-form .button .send:hover {
  background: #ffd6c0;
  color: #F56C23;
  font-weight: bolder;
  cursor: pointer;
}

/*register*/
.register .container {
  background: #EFE9E7;
  padding: 50px 0;
}

@media (max-width: 768px) {
  .register .container {
    padding: 11px 0;
  }
}

.register .container .logo {
  background: url("../img/assets/logo_l@svg.svg") no-repeat left;
  /*../ 根目錄*/
  display: block;
  width: 245px;
  height: 50px;
  margin: 0 auto 5px;
}

.register .container > p {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  color: #3D1101;
  text-align: center;
  font-weight: 900;
  margin-bottom: 35px;
}

.register .container .register-form {
  border-top: 4px solid #F56C23;
  width: 61%;
  margin: 0 auto;
  padding: 11px 15px 15px;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

@media (max-width: 768px) {
  .register .container .register-form {
    width: 80%;
  }
}

.register .container .register-form h3 {
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #3D1101;
  margin-bottom: 16px;
}

.register .container .register-form .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 560px) {
  .register .container .register-form .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.register .container .register-form .content .terms {
  width: 49%;
  font-size: 18px;
  line-height: 1.4;
  color: #3D1101;
}

@media (max-width: 560px) {
  .register .container .register-form .content .terms {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding-bottom: 15px;
  }
}

.register .container .register-form .content form {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

@media (max-width: 560px) {
  .register .container .register-form .content form {
    margin-top: 15px;
    width: 100%;
  }
}

.register .container .register-form .content form label {
  font-size: 16px;
  line-height: 21px;
  color: #3D1101;
  margin-bottom: 3px;
}

.register .container .register-form .content form input {
  height: 32px;
  border-radius: 3px;
  border: #cccccc solid 1px;
  padding-left: 9px;
  margin-bottom: 12px;
}

.register .container .register-form .content form a {
  font-size: 14px;
  color: #F56C23;
  margin-bottom: 30px;
}

.register .container .register-form .content form .reg-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.register .container .register-form .content form .reg-button button {
  border: transparent solid 1px;
  background: #F56C23;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  width: 125px;
  height: 32px;
}

.register .container .register-form .content form .reg-button button:hover {
  background: #f8d1bc;
  color: #F56C23;
  font-weight: 900;
  cursor: pointer;
}

/*login*/
.login .container {
  background: #EFE9E7;
  padding: 50px 0;
}

.login .container .logo {
  background: url("../img/assets/logo_l@svg.svg") no-repeat left;
  /*../ 根目錄*/
  display: block;
  width: 245px;
  height: 50px;
  margin: 0 auto 5px;
}

.login .container > p {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  color: #3D1101;
  text-align: center;
  font-weight: 900;
  margin-bottom: 35px;
}

.login .container .login-form {
  border-top: 4px solid #F56C23;
  width: 32%;
  margin: 0 auto;
  padding: 11px 15px 15px;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

@media (max-width: 768px) {
  .login .container .login-form {
    width: 72%;
  }
}

.login .container .login-form h3 {
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #3D1101;
  margin-bottom: 16px;
}

.login .container .login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.login .container .login-form form label {
  font-size: 16px;
  line-height: 21px;
  color: #3D1101;
  margin-bottom: 3px;
}

.login .container .login-form form input {
  height: 32px;
  border-radius: 3px;
  border: #cccccc solid 1px;
  padding-left: 9px;
  margin-bottom: 12px;
}

.login .container .login-form form a {
  font-size: 14px;
  color: #F56C23;
  margin-bottom: 30px;
}

.login .container .login-form form .log-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .container .login-form form .log-button button {
  width: 46%;
  height: 32px;
  border: transparent solid 1px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
}

.login .container .login-form form .log-button .register {
  background: rgba(0, 0, 0, 0.35);
  color: #FFFFFF;
}

.login .container .login-form form .log-button .register:hover {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.35);
  font-weight: bolder;
  cursor: pointer;
  font-weight: 900;
}

.login .container .login-form form .log-button .loin {
  background: #F56C23;
  color: #FFFFFF;
}

.login .container .login-form form .log-button .loin:hover {
  background: #f8d1bc;
  color: #F56C23;
  font-weight: 900;
  cursor: pointer;
}

/*cart*/
.cart .container {
  background: #EFE9E7;
  margin: 0 atuo;
  padding: 48px 42px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .cart .container {
    padding: 48px 11px 20px;
  }
}

@media (max-width: 560px) {
  .cart .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart .container .category {
  width: 23.5%;
}

@media (max-width: 768px) {
  .cart .container .category {
    width: 30%;
  }
}

@media (max-width: 560px) {
  .cart .container .category {
    width: 100%;
    margin-bottom: 23px;
  }
}

.cart .container .category h3 {
  color: #3D1101;
  font-size: 20px;
  margin-bottom: 16px;
  line-height: 32px;
}

.cart .container .category h3 span {
  margin-right: 10px;
}

.cart .container .category .category-select {
  width: 100%;
  font-size: 16px;
}

.cart .container .category .category-select li a {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #3D1101;
  color: #3D1101;
}

.cart .container .category .category-select li a:hover {
  background: #3D1101;
  color: #fff;
}

.cart .container .category .category-select .selected a {
  background: #3D1101;
  color: #fff;
}

.cart .container .content {
  width: 76%;
}

@media (max-width: 768px) {
  .cart .container .content {
    width: 69%;
  }
}

@media (max-width: 560px) {
  .cart .container .content {
    width: 100%;
  }
}

.cart .container .content .funcbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .cart .container .content .funcbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 560px) {
  .cart .container .content .funcbar {
    padding-left: 0;
  }
}

.cart .container .content .funcbar .searchbar {
  width: 63%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .cart .container .content .funcbar .searchbar {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .cart .container .content .funcbar .searchbar {
    width: 100%;
    margin-bottom: 20px;
  }
}

.cart .container .content .funcbar .searchbar .searchterm {
  width: 100%;
  border: 2.5px solid #3D1101;
  border-right: none;
  padding: 5px;
  outline: none;
  color: #3D1101;
  background: #EFE9E7;
}

.cart .container .content .funcbar .searchbar .searchterm:focus {
  background: #fff;
  border: 4px solid #F56C23;
}

.cart .container .content .funcbar .searchbar .searchterm:focus ~ .searchButton {
  border: 1px solid #F56C23;
  background: #F56C23;
}

.cart .container .content .funcbar .searchbar .searchButton {
  width: 36px;
  border: 1px solid #3D1101;
  background: #3D1101;
  font-size: 17px;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}

.cart .container .content .funcbar .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .cart .container .content .funcbar .checkout {
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .cart .container .content .funcbar .checkout {
    margin-bottom: 20px;
  }
}

.cart .container .content .funcbar .checkout a {
  display: block;
  color: #3D1101;
}

.cart .container .content .funcbar .checkout a:hover {
  color: #F56C23;
}

.cart .container .content .funcbar .checkout .bill {
  font-size: 16px;
  padding: 0 12px;
  border-right: 1px solid #3D1101;
}

.cart .container .content .funcbar .checkout .car {
  font-size: 28px;
  padding: 0 17px;
  position: relative;
}

.cart .container .content .funcbar .checkout .car span {
  position: absolute;
  color: white;
  background-color: #F56C23;
  top: -10px;
  right: 3px;
  font-size: 10px;
  border: 2px solid #EFE9E7;
  border-radius: 30px;
  padding: 3px 6px;
}

.cart .container .content .prodlist {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart .container .content .prodlist .prod {
  width: 30%;
  height: 100%;
  text-align: center;
  color: #3D1101;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  margin-left: 3%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .cart .container .content .prodlist .prod {
    width: 45%;
    margin-left: 5%;
  }
}

@media (max-width: 560px) {
  .cart .container .content .prodlist .prod {
    max-width: 100%;
    width: 300px;
    min-width: 176px;
    /*導致文字換行大小*/
    margin: 0 auto 30px;
  }
}

.cart .container .content .prodlist .prod:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cart .container .content .prodlist .prod .fa-heart {
  position: absolute;
  color: white;
  top: 5px;
  left: 5px;
  font-size: 20px;
  cursor: pointer;
}

.cart .container .content .prodlist .prod .prod-text {
  height: 100%;
  padding: 10px;
}

.cart .container .content .prodlist .prod .prod-text h4 {
  font-size: 20px;
  line-height: 27px;
}

.cart .container .content .prodlist .prod .prod-text h5 {
  font-size: 12px;
}

.cart .container .content .prodlist .prod .prod-text hr {
  width: 60%;
}

.cart .container .content .prodlist .prod .prod-text p {
  font-size: 20px;
  padding: 16px 0;
}

.cart .container .content .prodlist .prod .prod-text p span {
  font-style: italic;
  font-weight: 900;
}

.cart .container .content .prodlist .prod .prod-text a {
  display: block;
  color: #F56C23;
  border: 2px solid #F56C23;
  padding: 4px 0;
}

.cart .container .content .prodlist .prod .prod-text a:hover {
  color: #fff;
  background: #F56C23;
}

.cart .container .content .prodlist .prod .prod-text a .fa-shopping-cart {
  font-size: 13px;
}

/*ribbon*/
.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: 0;
  content: '';
  display: block;
  border: 5px solid #007054;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 142px;
  /*.ribbon w*w + h*h 開根號*/
  padding: 8px 0;
  /*ribbon 寬度*/
  background-color: #00CC99;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 14px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/*ref https://codepen.io/nxworld/pen/oLdoWb*/
/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before, .ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -11px;
  top: 24px;
  /*ribbon 寬度改變要調這邊*/
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*ribbon*/
/*# sourceMappingURL=all.css.map */